{% extends('base.html.twig') %}

{% block body %}
    <div>
        <h1 class="text-center mt-5">NEW</h1>
        <div class="row">
            {% for product in products %}
            <div class="col-sm-3">
                <div class="product-main-div">
                    <div class="product-div">
                        <div class="product-info text-center">
                           <a href="{{ path('view', { id: product.id }) }}"><div class="div-for-image" style="background-image:url('/images/{{ product.image }}');"></div></a>
                            <p>{{ product.name }}</p>
                            <p>{{ product.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div> <!-- main div -->
{% endblock %}