{% extends('base.html.twig') %}

{% block body %}

    <div>
        <div class="row mt-5">
            <div class="col-md-6">
                <div class="div-big-image mx-auto" style="background-image:url('/images/image-1.jpg')"></div>
            </div>
            <div class="col-md-6">
                <h3 class="font-weight-bold">Girl Boss Black Pullover</h3>
                <p>Shirt name</p>
                <hr>
                <div class="row">
                    <div class="col-6 text-left">
                        75
                    </div>
                    <div class="col-6 text-right">
                        Full price 86.00
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-6 text-left">
                        Campaign
                    </div>
                    <div class="col-6 text-right">
                        19 days 12-34-55
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-6 text-left">
                        Size
                    </div>
                    <div class="col-6 text-right">
                        Select size
                        <select>
                            <option>EU</option>
                            <option>USA</option>
                        </select>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-6 text-left">
                        <select>
                            <option>1</option>
                            <option>2</option>
                        </select>
                    </div>
                    <div class="col-6 text-right">
                        <a class="text-dark" href="javascript:void(0)"><i class="fa fa-arrow-right"></i> See Cart</a>
                    </div>
                    <p>Some text here</p>
                </div>
                <div>
                    <p>Some text here</p>
                    <button class="btn btn-block btn-dark">ADD TO BAG 81.29</button>
                    <p class="text-center">Designer Page</p>
                </div>
                <div>
                    <p class="text-right"><i class="far fa-heart"></i> Some text here</p>
                    <p class="text-right"><i class="fas fa-truck"></i> Some text here</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 div-small-image-pl">
                <div class="div-small-image mx-auto" style="background-image:url('/images/image-1.jpg')"></div>
            </div>
            <div class="col-md-6">
                <div class="div-custom-select-class">
                    <select class="form-select custom-select-class">
                        <option selected>Some text here</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <select class="form-select custom-select-class">
                        <option selected>Some text here</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>

            </div>
        </div>

        <div class="row margin-top-100 text-center">
            <p class="col-md-12">YOU MAY ALSO LIKE THIS</p>
            <div class="clearfix"></div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-12 div-small-image-pl">
                        <div class="div-small-image mx-auto" style="background-image:url('/images/image-2.jpeg')"></div>
                    </div>
                    <div class="col-12 ">
                        <p>Blask Shirt</p>
                        <p>GIRL BOSS BLACK LOOSE T-SHIRT</p>
                        <p class="text-center">34.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-12 div-small-image-pl">
                        <div class="div-small-image mx-auto" style="background-image:url('/images/image-3.jpg')"></div>
                    </div>
                    <div class="col-12 ">
                        <p>Blask Shirt</p>
                        <p>GIRL BOSS BLACK LOOSE T-SHIRT</p>
                        <p class="text-center">34.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-12 div-small-image-pl">
                        <div class="div-small-image mx-auto" style="background-image:url('/images/image-4.jpg')"></div>
                    </div>
                    <div class="col-12 ">
                        <p>Blask Shirt</p>
                        <p>GIRL BOSS BLACK LOOSE T-SHIRT</p>
                        <p class="text-center">34.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-12 div-small-image-pl">
                        <div class="div-small-image mx-auto" style="background-image:url('/images/image-5.jpg')"></div>
                    </div>
                    <div class="col-12 ">
                        <p>Blask Shirt</p>
                        <p>GIRL BOSS BLACK LOOSE T-SHIRT</p>
                        <p class="text-center">34.00</p>
                    </div>
                </div>
            </div>

        </div>
    </div> <!-- main divj -->


{% endblock %}