<div class="container margin-top-100 mb-5">
    <div class="row">
        <div class="col-6 font-size-24">
            <p><i class="fas fa-truck-moving"></i> Free delivery  <i class="far fa-calendar"></i> 14 days</p>
        </div>
        <div class="col-6 text-right font-size-24">
            <a href="javascript:void(0)" class="text-dark"><i class="fab fa-instagram-square"></i></a>
            <a href="javascript:void(0)" class="text-dark"><i class="fab fa-facebook-f"></i></a>
        </div>
    </div>

    <div class="footer-div-middle">
        <div class="div-footer-image mx-auto" style="background-image:url('/images/image-3.jpg')"></div>
        <div class="text-center footer-div-middle-second-div">
            <h4>Add Newsletter</h4>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        </div>
        <div class="footer-div-middle-third-div">
            <input type="text" style="" placeholder="Enter your email address">
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="footer-div-third-">
        <ul class="navbar-nav ml-aut flex-row">
            <li class="nav-item px-2">
                <a class="nav-link text-black-50" href="#">About</a>
            </li>
            <li class="nav-item px-2">
                <a class="nav-link text-black-50" href="#">Terms & Conditions</a>
            </li>
            <li class="nav-item px-2">
                <a class="nav-link text-black-50" href="#">Privacy Policy</a>
            </li>
            <li class="nav-item px-2">
                <a class="nav-link text-black-50" href="#">Contact</a>
            </li>
            <li class="nav-item px-2 footer-div-third-margin-right">
                <a class="nav-link text-black-50" href="#">Text</a>
            </li>

            <li class="nav-item px-2">
                <a class="nav-link" href="#"><i class="fab fa-cc-paypal"></i> </a>
            </li>
            <li class="nav-item px-2">
                <a class="nav-link" href="#"><i class="fab fa-cc-visa"></i></a>
            </li>
            <li class="nav-item px-2">
                <a class="nav-link" href="#"><i class="fab fa-cc-mastercard"></i></a>
            </li>
        </ul>
    </div>

</div>
