<div class="container">
    <nav class="navbar bg-color-fff navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav ml-auto flex-row">
            <li class="nav-item px-2">
                <a class="nav-link" href="#">WOMEN</a>
            </li>
            <li class="nav-item px-2">
                <a class="nav-link" href="#">MAN</a>
            </li>
            <li class="nav-item px-2 nab-bar-kids-margin-right">
                <a class="nav-link" href="#">KIDS</a>
            </li>

            <li class="nav-item px-2">
                <a class="nav-link" href="#"><i class="fa fa-search"></i></a>
            </li>
            <li class="nav-item px-2">
                <a class="nav-link" href="#"><i class="fa fa-shopping-bag"></i></a>
            </li>

        </ul>

    </nav>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto font-weight-bolder">
                <li class="nav-item">
                    <a class="nav-link" href="#">NEW</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">BUY NOW</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">PRE-ORDER</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">SALE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nab-bar-collection-margin-left" href="#" style="">COLLECTION</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nab-bar-collection-margin-left" href="#" style="">SIGN OUT</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
