.bg-color-fff { background-color: #FFF !important; }
.nab-bar-kids-margin-right { margin-right: 350px; }
.nab-bar-collection-margin-left { margin-left: 280px; }

.div-big-image {
    position: relative;
    max-width: 100%;
    width: 500px;
    height: 500px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 50px 40px 40px;
    float: left;
}

.div-small-image {
    position: relative;
    max-width: 100%;
    width: 150px;
    height: 150px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 50px 40px 40px;
    float: left;
}

.div-small-image-pl { padding-left: 15px; }

.custom-select-class {
    width: 100%;
    background: none;
    border: none;

}

.div-custom-select-class { margin-top: 100px; }

.margin-top-100 { margin-top: 100px; }

.font-size-24 { font-size: 24px; }

.div-footer-image {
    position: relative;
    max-width: 100%;
    width: 200px;
    height: 200px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 50px 40px 40px;
    float: left;
}

.footer-div-middle {
    min-height: 200px;
    background-color: #f0f4f7;
}

.footer-div-middle-second-div {
    float: left;
    max-width: 500px;
    padding-top: 40px;
    padding-left: 30px;
}

.footer-div-middle-third-div {
    float: left;
    max-width: 500px;
    padding-top: 40px;
}

.footer-div-middle-third-div input {
    width: 300px;
    margin-top: 50px;
    margin-left: 50px;
}

.footer-div-third-margin-right { margin-right: 550px; }

.product-main-div {
    border: 1px solid #F7F7F5;
    overflow: hidden;
    margin-bottom: 30px;
}

.product-div {
    position: relative;
}

.product-info {
    position: relative;
}

.div-for-image {
    max-width: 100%;
    width: 200px;
    height: 200px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 4px solid #fff;
    outline: 1px solid #DDd;
    margin: 15px auto 0 auto;
}

.float-none { float: none !important; }

.container-for-random-products:hover { background: #f8f9fa; }

.container-for-random-products a {
    color: rgba(0,0,0,.5);
    text-decoration: none;
}

.price-for-product {
    font-size: 20px;
    font-weight: bold;
}

@media (max-width: 1200px) {
    .nab-bar-kids-margin-right { margin-right: 250px; }
    .nab-bar-collection-margin-left { margin-left: 190px; }
    .div-small-image-pl { padding-left: 15px; }
    .footer-div-middle { min-height: 270px; }
    .footer-div-third-margin-right { margin-right: 360px; }
} /* - end @media (max-width:1200px) */

@media (max-width: 991px) {
    .nab-bar-kids-margin-right { margin-right: 170px; }
    .nab-bar-collection-margin-left { margin-left: 0; }
    .footer-div-middle { min-height: 520px; }
    .footer-div-third-margin-right { margin-right: 100px; }
    .div-footer-image { float: none; }

    .footer-div-middle-second-div {
        float: none;
        max-width: 900px;
        padding-top: 40px;
        padding-left: 0;
    }
} /* - end @media (max-width:991px) */

@media (max-width: 767px) {
    .div-custom-select-class { margin-top: 0; }
    .div-small-image { float: none; }
    .footer-div-third-margin-right { margin-right: 0; }
} /* - end @media (max-width:767px) */

@media(max-width:575px) {
    .nab-bar-kids-margin-right { margin-right: 100px; }
} /* - end @media (max-width:575px) */
